
STRINGTABLE
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
{
1, 	"Russian language plugin for [AC]"
2, 	"(c) M.A.D.M.A.N."
3, 	"Функция:"
4, 	"Результат:"
5, 	"Файл"
6, 	"Очистить"
7, 	"-"
8, 	"Сохранить"
9, 	"Открыть"
10, 	"-"
11, 	"Выход"
12, 	"Правка"
13, 	"Копировать"
14, 	"-"
15, 	"Вставить"
}


STRINGTABLE
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
{
16, 	"Память"
17, 	"Занести в память"
18, 	"Содержимое памяти"
19, 	"-"
20, 	"Очистить переменные"
21, 	"Список переменных"
22, 	"-"
23, 	"Скрыть/Показать лог"
24, 	"Конфигурации"
25, 	"Опции"
26, 	"-"
27, 	"Язык"
28, 	"Режим"
29, 	"2D/3D графопостроитель"
30, 	"Калькулятор интегралов"
31, 	"Калькулятор рядов"
}


STRINGTABLE
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
{
32,	"Помощь"
33,	"Помощь"
34,	"О программе"
35,	"Тригонометрические"
36,	"Гиперболические"
37,	"Математические"
38,	"Числовые"
39,	"Константы"
40,	"Набор #1"
41,	"Набор #2"
42,	"Набор #3"
43,	"Логические"
44,	"Восстановить"
45,	"Выход"
46, 	"Вырезать"
47,	"Копировать"
}

STRINGTABLE
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
{
48,	"Вставить"
49,	"Удалить"
50,	"Выделить все"
51,	"Ошибка"
52,	"Информация"
53,	"Внимание"
54,	"Вопрос"
55,	"Сохранить сожержимое памяти?"
56,	"Невозможно открыть файл"
57,	"В задаче допущена ошибка"
58,	"Функция='%s' Результат='%s'"
59,	"Ok"
60,	"Отмена"
61,	"Добавить"
62,	"Глобальные переменные"
63,	"Имя переменной"
}

STRINGTABLE
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
{
64,	"Значение"
65,	"Добавить"
66,	"Удалить"
67,	"Переменная"
68,	"Введите значение переменной"
69,	"Добавить переменную"
70,	"Имя"
71,	"Значение"
72,	"Опции"
73,	"Режим запуска"
74,	"Параметры лога"
75,	"Клавиши"
76,	"Алиасы"
77,	"Режим запуска"
78,	"По умолчанию:"
79,	"Калькулятор"
}

STRINGTABLE
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
{
80,	"2D/3D графопостроитель"
81,	"Отображать при запуске заставку"
82,	"Отображать лог"
83,	"Запоминать и восстанавливать позицию окна"
84,	"Параметры лога"
85,	"Сохранять содержимое"
86,	"Сохранять в:"
87,	"Перемещать лог вместе с главным окном"
88,	"Клавиши"
89,	"Сочетание на выполнение:"
90,	"Сочетание на возврат:"
91,	"Очищать после выполнения"
92,	"Возврат после выполнения"
93,	"Алиасы"
94,	"Включить поддержку алиасов"
95,	"Имена алиасов:"
}

STRINGTABLE
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
{
96,	"Новый"
97,	"Открыть"
98,	"Сохранить"
99,	"Режим"
100,	"Опции"
101,	"Помощь"
102,	"2D график"
103,	"3D график"
104,	"Калькулятор"
105,	"Калькулятор интегралов"
106,	"Восстановить"
107,	"Закрыть"
108,	"Помощь"
109,	"О программе"
110,	"Файл"
111,	"Новый"
}

STRINGTABLE
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
{
112,	"2D график"
113,	"3D график"
114,	"Сохранить"
115,	"Открыть"
116,	"Закрыть"
117,	"Закрыть все"
118,	"Выход"
119,	"Конфигурации"
120,	"Опции"
121,	"Настройки графопостроителя"
122,	"Режим"
123,	"Калькулятор"
124,	"Калькулятор интегралов"
125,	"Калькулятор рядов"
126,	"Помощь"
127,	"Помощь"
}

STRINGTABLE
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
{
128,	"О программе"
129,	"Функция:"
130,	"X min:"
131,	"X max:"
132,	"X div:"
133,	"Цвет:"
134,	"Сетка"
135,	"Рисовать"
136,	"Y ось:"
137,	"X ось:"
138,	"Оси"
139,	"Рисовать X ось"
140,	"Рисовать Y ось"
141,	"Графики"
142,	"Отображать запредельные"
143,	"Начертить"
}

STRINGTABLE
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
{
144,	"Функция:"
145,	"X min:"
146,	"Y min:"
147,	"X max:"
148,	"Y max:"
149,	"X div:"
150,	"Y div:"
151,	"Цвет:"
152,	"Оси"
153,	"Рисовать X ось"
154,	"Рисовать Y ось"
155,	"Рисовать Z ось"
156,	"Сетка"
157,	"Рисовать XY сетку"
158,	"Рисовать YZ сетку"
159,	"Рисовать ZX сетку"
}

STRINGTABLE
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
{
160,	"Графики"
161,	"Наложить на плоскость"
162,	"Наложить на цилиндр"
163,	"Наложить на сферу"
164,	"Отображать запредельные"
165,	"Начертить"
166,	"Параметры"
167,	"Интерфейс"
168,	"Цвета"
169,	"Панель навигации"
170,	"Отображать подписи"
171,	"Отображать подсказки"
172,	"Отображать панель"
173,	"Язык:"
174,	"Сворачивать в трей"
175,	"2D графопостроитель"
}

STRINGTABLE
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
{
176,	"3D графопостроитель"
}